@charset "UTF-8";

body{
    background-color: white;
    margin: 0px;
    
}

header{
    background-color: #C2C2C2;
    padding: 5px 0px 5px 0px;
}

main{
    background-color: #F3F3F3;
    padding-bottom: 20px;
}

main > img{
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 50%;
}

main#main2{
    background-color: white;
    padding-bottom: 20px;
}

footer{
    background-color: #C2C2C2;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

footer > img{
    padding-left: 20px;
    width: 20px;
}

footer > a{
    padding-left: 20px;
    color: black;  
}

h1{
    padding-left: 20px;
}

h2{
    padding-left: 20px;
    padding-top: 15px;
}

p{
    padding-left: 20px;
    padding-right: 50px;
    width: 400px;
}
